// ------------------------------------
// VARS.SCSS
// ------------------------------------
// Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
// keep, simply redefine here. This means that if inuit.css, for example, sets
// your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
// that variable in this file. inuit.css ignores its own variables in favour of
// using your own, so you can completely modify how inuit.css works without ever
// having to alter the framework itself.

// OBJECTS-AND-ABSTRACTIONS
// ------------------------------------
// All of inuit.css’ objects and abstractions are initially turned off by
// default. This means that you start any project with as little as possible,
// and introducing objects and abstractions is as simple as switching the
// following variables to `true`.

$use-greybox: true;
$use-grids:   true;
$use-media:   true;
$use-nav:     true;

// CUSTOM
// ------------------------------------
// $black: #2c2d2d;
$black: #3b3a37;
$paper: #ffffef;
$white: $paper;
// $red: #ff3908;
$red: #ff443d;

$grid-unit: 16px !default;
$v-grid-unit: 20px !default; // vertical grid unit

// Media queries breakpoints
// --------------------------------------------------
// Small screen / tablet
$screen-sm:                     20em !default; // 320px
// Medium screen / desktop
$screen-md:                     48em !default; // 768px
// Large screen / wide desktop
$screen-lg:                     56.0625em !default; // 897px
// let's use em's for breakpoints
$one-pixel:                     1/16 + 0em; // 1px = 0.0625ems (1/16)
$screen-sm-max:                 ($screen-md - $one-pixel) !default;
$screen-md-max:                 ($screen-lg - $one-pixel) !default;
