// ------------------------------------
// VARIABLES
// ------------------------------------

$use-nav:     true;

// CUSTOM
// ------------------------------------
// $black: #2c2d2d;
$black: #3b3a37;
$paper: #ffffef;
$white: $paper;
// $red: #ff3908;
$red: #ff443d;

$h: 16px !default;
$v: 20px !default; // vertical grid unit

// Base font
$base-font-size:    16px!default;
$base-line-height:  24px!default;
$base-font-family:  sans-serif!default;

// Media queries breakpoints
// --------------------------------------------------
// Small screen / tablet
$screen-sm:                     20em !default; // 320px
// Medium screen / desktop
$screen-md:                     48em !default; // 768px
// Large screen / wide desktop
$screen-lg:                     56.0625em !default; // 897px
// let's use em's for breakpoints
$one-pixel:                     1/16 + 0em; // 1px = 0.0625ems (1/16)
$screen-sm-max:                 ($screen-md - $one-pixel) !default;
$screen-md-max:                 ($screen-lg - $one-pixel) !default;
