# comment - this is ignored

# ignore versioned apps
/apps/mastermind-*
/apps/simplist-*
/apps/typesetter-*

# pesky dot files
.DS_Store
.sass-cache

# random leftover pages
index-orig.html
sprite_test_page.html

# ignore visual design (photoshop) folders
_visual*