# comment - this is ignored

# ignore versioned apps
/apps/mastermind-*
/apps/simplist-*
/apps/typesetter-*

# pesky dot files
.DS_Store
.sass-cache

# ignore visual design
_visual*
*.psd
*.ai

# others
sprite_test_page.html
