// ============
// MARGIN & PADDING
// ============

@mixin margin-and-padding($namespace: "") {
  // Margin top
  .u-#{$namespace}mt-0  { margin-top: 0 !important; }
  .u-#{$namespace}mt-sm { margin-top: $h/2 !important; }
  .u-#{$namespace}mt-md { margin-top: $h !important; }
  .u-#{$namespace}mt-lg { margin-top: $h*1.5 !important; }
  .u-#{$namespace}mt-xl { margin-top: $h*2 !important; }
  // Margin bottom
  .u-#{$namespace}mb-lg { margin-bottom: $h*1.5 !important; }
  // Padding right
  .u-#{$namespace}pr-md { padding-right: $v !important; }
  // Padding left
  .u-#{$namespace}pl-0  { padding-left: 0 !important; }
}

@include margin-and-padding();
@media (max-width: $screen-sm-max) { @include margin-and-padding("sm-"); }
@media (min-width: $screen-md)     { @include margin-and-padding("md-"); }
@media (min-width: $screen-lg)     { @include margin-and-padding("lg-"); }

// OUTPUTS:
// .u-sm-mt-0 { margin-top: 0; }
// .u-sm-mt-sm { margin-top: 8px; }
// .u-sm-mt-md { margin-top: 16px; }
// ...
// @media (min-width: 48em) {
//  .u-md-mt-0 { margin-top: 0; }
//  .u-md-mt-sm { margin-top: 8px; }
//  ...
// }
// etc...
