// ------------------------------------
// MIXINS
// ------------------------------------

@mixin media-query($media-query){
  @if $media-query == mobile {
    @media only screen and (max-width:$screen-sm-max) { @content; }
  }
  @if $media-query == tablet {
    @media only screen and (min-width:$screen-md) { @content; }
  }
  @if $media-query == tablet-only {
    @media only screen and (min-width:$screen-md) and (max-width:$screen-md-max) { @content; }
  }
  @if $media-query == desktop {
    @media only screen and (min-width:$screen-lg) { @content; }
  }
}

// ============
// PX TO REM
// ============

// @USAGE: height: px-to-rem(12px); // returns height: 0.75rem

@function px-to-rem($size) {
  $rem-size: $size / $base-font-size;
  @return #{$rem-size}rem;
}

// ------------------------------------
// FONT SIZE / LINE HEIGHT
// ------------------------------------

@mixin font-size($font-size: $base-font-size, $line-height: $base-line-height) { // default: 16px / 24px
  font-size: px-to-rem($font-size);
  line-height: $line-height / $font-size;
}
