// ------------------------------------
// DEFAULTS
// ------------------------------------
// inuit.css’ default variables. Redefine these in your `_vars.scss` file (found
// in the inuit.css-web-template) to override them.

// ------------------------------------
// BORDER-BOX
// ------------------------------------
// Do you want all elements to adopt `box-sizing:border-box;` as per
// paulirish.com/2012/box-sizing-border-box-ftw ?

$global-border-box: true!default;

// ------------------------------------
// BASE
// ------------------------------------

// Base stuff

$base-font-size:    16px!default;
$base-line-height:  24px!default;

// Base font-family.

$base-font-family:  sans-serif!default;

// Default colour for objects’ borders etc.

$base-ui-color:     #ccc!default;

// ------------------------------------
// RESPONSIVE
// ------------------------------------
// Responsiveness?

$responsive:        true!default;

// Responsiveness for widescreen/high resolution desktop monitors and beyond?
// Note: `$responsive` variable above must be set to true before enabling this.

$responsive-extra:  false!default;

// Responsive push and pull produce a LOT of code, only turn them on if you
// definitely need them.

$push:              true!default;
// Note: `$push` variable above must be set to true before enabling these.

$mobile-push:       true!default;
$tablet-push:       true!default;
$desktop-push:      true!default;

// ------------------------------------
// FRAMEWORK
// ------------------------------------
// inuit.css will work these next ones out for use within the framework.
// Assign our `$base-line-height` to a new spacing var for more transparency.

$half-spacing-unit: $grid-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
