// ------------------------------------
// DEFAULTS
// ------------------------------------
// inuit.css’ default variables. Redefine these in your `_vars.scss` file (found
// in the inuit.css-web-template) to override them.

// ------------------------------------
// BASE
// ------------------------------------

// Base font
$base-font-size:    16px!default;
$base-line-height:  24px!default;
$base-font-family:  sans-serif!default;

// ------------------------------------
// FRAMEWORK
// ------------------------------------
// inuit.css will work these next ones out for use within the framework.
// Assign our `$base-line-height` to a new spacing var for more transparency.

$half-spacing-unit: $h / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
