// Icon fonts
// --------------------------------------------------

// Elusive
// Downloaded from http://fontello.com/
// An icon font set by Aristeides Stathopoulos | license: SIL
//
// HOW TO USE
// <i class='glyph-paper-plane'></i>

@font-face {
    font-family: "glyph";
    src: url("../fonts/elusive.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

%glyph,
*[class^="glyph"] {
    @include font-size(14px, 16px);
    font-family: "glyph";
    font-style: normal;
    font-weight: normal;
    speak: none;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    vertical-align: middle; // ?
}

// .glyph-glass:before { content: '\e800'; }
// .glyph-youtube:before { content: '\e90e'; }
// .glyph-search:before { content: '\e802'; }
// .glyph-search-circled:before { content: '\e803'; }
// .glyph-mail:before { content: '\e804'; }
// .glyph-mail-circled:before { content: '\e805'; }
// .glyph-heart:before { content: '\e806'; }
// .glyph-heart-circled:before { content: '\e807'; }
// .glyph-heart-empty:before { content: '\e808'; }
// .glyph-star:before { content: '\e809'; }
// .glyph-star-circled:before { content: '\e80a'; }
// .glyph-star-empty:before { content: '\e80b'; }
// .glyph-user:before { content: '\e80c'; }
// .glyph-group:before { content: '\e80d'; }
// .glyph-group-circled:before { content: '\e80e'; }
// .glyph-torso:before { content: '\e80f'; }
// .glyph-video:before { content: '\e810'; }
// .glyph-video-circled:before { content: '\e811'; }
// .glyph-video-alt:before { content: '\e812'; }
// .glyph-videocam:before { content: '\e813'; }
// .glyph-video-chat:before { content: '\e814'; }
// .glyph-picture:before { content: '\e815'; }
// .glyph-camera:before { content: '\e816'; }
// .glyph-photo:before { content: '\e817'; }
// .glyph-photo-circled:before { content: '\e818'; }
// .glyph-th-large:before { content: '\e819'; }
// .glyph-th:before { content: '\e81a'; }
// .glyph-th-list:before { content: '\e81b'; }
// .glyph-view-mode:before { content: '\e81c'; }
// .glyph-ok:before { content: '\e81d'; }
// .glyph-ok-circled:before { content: '\e81e'; }
// .glyph-ok-circled2:before { content: '\e81f'; }
// .glyph-cancel:before { content: '\e820'; }
// .glyph-cancel-circled:before { content: '\e821'; }
// .glyph-cancel-circled2:before { content: '\e822'; }
// .glyph-plus:before { content: '\e823'; }
// .glyph-plus-circled:before { content: '\e824'; }
// .glyph-minus:before { content: '\e825'; }
// .glyph-minus-circled:before { content: '\e826'; }
// .glyph-help:before { content: '\e827'; }
// .glyph-help-circled:before { content: '\e828'; }
// .glyph-info-circled:before { content: '\e829'; }
// .glyph-home:before { content: '\e82a'; }
// .glyph-home-circled:before { content: '\e82b'; }
// .glyph-website:before { content: '\e82c'; }
// .glyph-website-circled:before { content: '\e82d'; }
// .glyph-attach:before { content: '\e82e'; }
// .glyph-attach-circled:before { content: '\e82f'; }
// .glyph-lock:before { content: '\e830'; }
// .glyph-lock-circled:before { content: '\e831'; }
// .glyph-lock-open:before { content: '\e832'; }
// .glyph-lock-open-alt:before { content: '\e833'; }
// .glyph-eye:before { content: '\e834'; }
// .glyph-eye-off:before { content: '\e835'; }
// .glyph-tag:before { content: '\e836'; }
// .glyph-tags:before { content: '\e837'; }
// .glyph-bookmark:before { content: '\e838'; }
// .glyph-bookmark-empty:before { content: '\e839'; }
// .glyph-flag:before { content: '\e83a'; }
// .glyph-flag-circled:before { content: '\e83b'; }
// .glyph-thumbs-up:before { content: '\e83c'; }
// .glyph-thumbs-down:before { content: '\e83d'; }
// .glyph-download:before { content: '\e83e'; }
// .glyph-download-alt:before { content: '\e83f'; }
// .glyph-upload:before { content: '\e840'; }
// .glyph-share:before { content: '\e841'; }
// .glyph-quote:before { content: '\e842'; }
// .glyph-quote-circled:before { content: '\e843'; }
// .glyph-export:before { content: '\e844'; }
// .glyph-pencil:before { content: '\e845'; }
// .glyph-pencil-circled:before { content: '\e846'; }
// .glyph-edit:before { content: '\e847'; }
// .glyph-edit-circled:before { content: '\e848'; }
// .glyph-edit-alt:before { content: '\e849'; }
// .glyph-print:before { content: '\e84a'; }
// .glyph-retweet:before { content: '\e84b'; }
// .glyph-comment:before { content: '\e84c'; }
// .glyph-comment-alt:before { content: '\e84d'; }
// .glyph-bell:before { content: '\e84e'; }
// .glyph-warning:before { content: '\e84f'; }
// .glyph-exclamation:before { content: '\e850'; }
// .glyph-error:before { content: '\e851'; }
// .glyph-error-alt:before { content: '\e852'; }
// .glyph-location:before { content: '\e853'; }
// .glyph-location-circled:before { content: '\e854'; }
// .glyph-compass:before { content: '\e855'; }
// .glyph-compass-circled:before { content: '\e856'; }
// .glyph-trash:before { content: '\e857'; }
// .glyph-trash-circled:before { content: '\e858'; }
// .glyph-doc:before { content: '\e859'; }
// .glyph-doc-circled:before { content: '\e85a'; }
// .glyph-doc-new:before { content: '\e85b'; }
// .glyph-doc-new-circled:before { content: '\e85c'; }
// .glyph-folder:before { content: '\e85d'; }
// .glyph-folder-circled:before { content: '\e85e'; }
// .glyph-folder-close:before { content: '\e85f'; }
// .glyph-folder-open:before { content: '\e860'; }
// .glyph-rss:before { content: '\e861'; }
// .glyph-phone:before { content: '\e862'; }
// .glyph-phone-circled:before { content: '\e863'; }
// .glyph-cog:before { content: '\e864'; }
// .glyph-cog-circled:before { content: '\e865'; }
// .glyph-cogs:before { content: '\e866'; }
// .glyph-wrench:before { content: '\e867'; }
// .glyph-wrench-circled:before { content: '\e868'; }
// .glyph-basket:before { content: '\e869'; }
// .glyph-basket-circled:before { content: '\e86a'; }
// .glyph-calendar:before { content: '\e86b'; }
// .glyph-calendar-circled:before { content: '\e86c'; }
// .glyph-mic:before { content: '\e86d'; }
// .glyph-mic-circled:before { content: '\e86e'; }
// .glyph-volume-off:before { content: '\e86f'; }
// .glyph-volume-down:before { content: '\e870'; }
// .glyph-volume:before { content: '\e871'; }
// .glyph-volume-up:before { content: '\e872'; }
// .glyph-headphones:before { content: '\e873'; }
// .glyph-clock:before { content: '\e874'; }
// .glyph-clock-circled:before { content: '\e875'; }
// .glyph-lightbulb:before { content: '\e876'; }
// .glyph-lightbulb-alt:before { content: '\e877'; }
// .glyph-block:before { content: '\e878'; }
// .glyph-resize-full:before { content: '\e879'; }
// .glyph-resize-full-alt:before { content: '\e87a'; }
// .glyph-resize-small:before { content: '\e87b'; }
// .glyph-resize-vertical:before { content: '\e87c'; }
// .glyph-resize-horizontal:before { content: '\e87d'; }
// .glyph-move:before { content: '\e87e'; }
// .glyph-zoom-in:before { content: '\e87f'; }
// .glyph-zoom-out:before { content: '\e880'; }
// .glyph-down-open:before { content: '\e881'; }
// .glyph-left-open:before { content: '\e882'; }
.glyph-right-open:before { content: '\e883'; }
// .glyph-up-open:before { content: '\e884'; }
// .glyph-down:before { content: '\e885'; }
// .glyph-left:before { content: '\e886'; }
// .glyph-music:before { content: '\e801'; }
// .glyph-up:before { content: '\e888'; }
// .glyph-down-circled:before { content: '\e889'; }
// .glyph-left-circled:before { content: '\e88a'; }
// .glyph-right-circled:before { content: '\e88b'; }
// .glyph-up-circled:before { content: '\e88c'; }
// .glyph-down-hand:before { content: '\e88d'; }
// .glyph-left-hand:before { content: '\e88e'; }
// .glyph-right-hand:before { content: '\e88f'; }
// .glyph-up-hand:before { content: '\e890'; }
// .glyph-cw:before { content: '\e891'; }
// .glyph-cw-circled:before { content: '\e892'; }
// .glyph-arrows-cw:before { content: '\e893'; }
// .glyph-shuffle:before { content: '\e894'; }
// .glyph-play:before { content: '\e895'; }
// .glyph-play-circled:before { content: '\e896'; }
// .glyph-play-circled2:before { content: '\e897'; }
// .glyph-stop:before { content: '\e898'; }
// .glyph-stop-circled:before { content: '\e899'; }
// .glyph-pause:before { content: '\e89a'; }
// .glyph-pause-circled:before { content: '\e89b'; }
// .glyph-record:before { content: '\e89c'; }
// .glyph-eject:before { content: '\e89d'; }
// .glyph-backward:before { content: '\e89e'; }
// .glyph-backward-circled:before { content: '\e89f'; }
// .glyph-fast-backward:before { content: '\e8a0'; }
// .glyph-fast-forward:before { content: '\e8a1'; }
// .glyph-forward:before { content: '\e8a2'; }
// .glyph-forward-circled:before { content: '\e8a3'; }
// .glyph-step-backward:before { content: '\e8a4'; }
// .glyph-step-forward:before { content: '\e8a5'; }
// .glyph-target:before { content: '\e8a6'; }
// .glyph-signal:before { content: '\e8a7'; }
// .glyph-desktop:before { content: '\e8a8'; }
// .glyph-desktop-circled:before { content: '\e8a9'; }
// .glyph-laptop:before { content: '\e8aa'; }
// .glyph-laptop-circled:before { content: '\e8ab'; }
// .glyph-network:before { content: '\e8ac'; }
// .glyph-inbox:before { content: '\e8ad'; }
// .glyph-inbox-circled:before { content: '\e8ae'; }
// .glyph-inbox-alt:before { content: '\e8af'; }
// .glyph-globe:before { content: '\e8b0'; }
// .glyph-globe-alt:before { content: '\e8b1'; }
// .glyph-cloud:before { content: '\e8b2'; }
// .glyph-cloud-circled:before { content: '\e8b3'; }
// .glyph-flight:before { content: '\e8b4'; }
// .glyph-leaf:before { content: '\e8b5'; }
// .glyph-font:before { content: '\e8b6'; }
// .glyph-fontsize:before { content: '\e8b7'; }
// .glyph-bold:before { content: '\e8b8'; }
// .glyph-italic:before { content: '\e8b9'; }
// .glyph-text-height:before { content: '\e8ba'; }
// .glyph-text-width:before { content: '\e8bb'; }
// .glyph-align-left:before { content: '\e8bc'; }
// .glyph-align-center:before { content: '\e8bd'; }
// .glyph-align-right:before { content: '\e8be'; }
// .glyph-align-justify:before { content: '\e8bf'; }
// .glyph-list:before { content: '\e8c0'; }
// .glyph-indent-left:before { content: '\e8c1'; }
// .glyph-indent-right:before { content: '\e8c2'; }
// .glyph-briefcase:before { content: '\e8c3'; }
// .glyph-off:before { content: '\e8c4'; }
// .glyph-road:before { content: '\e8c5'; }
// .glyph-qrcode:before { content: '\e8c6'; }
// .glyph-barcode:before { content: '\e8c7'; }
// .glyph-braille:before { content: '\e8c8'; }
// .glyph-book:before { content: '\e8c9'; }
// .glyph-adjust:before { content: '\e8ca'; }
// .glyph-tint:before { content: '\e8cb'; }
// .glyph-check:before { content: '\e8cc'; }
// .glyph-check-empty:before { content: '\e8cd'; }
// .glyph-asterisk:before { content: '\e8ce'; }
// .glyph-gift:before { content: '\e8cf'; }
// .glyph-fire:before { content: '\e8d0'; }
// .glyph-magnet:before { content: '\e8d1'; }
// .glyph-chart:before { content: '\e8d2'; }
// .glyph-chart-circled:before { content: '\e8d3'; }
// .glyph-credit-card:before { content: '\e8d4'; }
// .glyph-megaphone:before { content: '\e8d5'; }
// .glyph-clipboard:before { content: '\e8d6'; }
// .glyph-hdd:before { content: '\e8d7'; }
// .glyph-key:before { content: '\e8d8'; }
// .glyph-certificate:before { content: '\e8d9'; }
// .glyph-tasks:before { content: '\e8da'; }
// .glyph-filter:before { content: '\e8db'; }
// .glyph-gauge:before { content: '\e8dc'; }
// .glyph-smiley:before { content: '\e8dd'; }
// .glyph-smiley-circled:before { content: '\e8de'; }
// .glyph-address-book:before { content: '\e8df'; }
// .glyph-address-book-alt:before { content: '\e8e0'; }
// .glyph-asl:before { content: '\e8e1'; }
// .glyph-glasses:before { content: '\e8e2'; }
// .glyph-hearing-impaired:before { content: '\e8e3'; }
// .glyph-iphone-home:before { content: '\e8e4'; }
// .glyph-person:before { content: '\e8e5'; }
// .glyph-adult:before { content: '\e8e6'; }
// .glyph-child:before { content: '\e8e7'; }
// .glyph-blind:before { content: '\e8e8'; }
// .glyph-guidedog:before { content: '\e8e9'; }
// .glyph-accessibility:before { content: '\e8ea'; }
// .glyph-universal-access:before { content: '\e8eb'; }
// .glyph-male:before { content: '\e8ec'; }
// .glyph-female:before { content: '\e8ed'; }
// .glyph-behance:before { content: '\e8ee'; }
// .glyph-blogger:before { content: '\e8ef'; }
// .glyph-cc:before { content: '\e8f0'; }
// .glyph-css:before { content: '\e8f1'; }
// .glyph-delicious:before { content: '\e8f2'; }
// .glyph-deviantart:before { content: '\e8f3'; }
// .glyph-digg:before { content: '\e8f4'; }
// .glyph-dribbble:before { content: '\e8f5'; }
// .glyph-facebook:before { content: '\e8f6'; }
// .glyph-flickr:before { content: '\e8f7'; }
// .glyph-foursquare:before { content: '\e8f8'; }
// .glyph-friendfeed:before { content: '\e8f9'; }
// .glyph-friendfeed-rect:before { content: '\e8fa'; }
// .glyph-github:before { content: '\e8fb'; }
// .glyph-github-text:before { content: '\e8fc'; }
// .glyph-googleplus:before { content: '\e8fd'; }
// .glyph-instagram:before { content: '\e8fe'; }
// .glyph-linkedin:before { content: '\e8ff'; }
// .glyph-path:before { content: '\e900'; }
// .glyph-picasa:before { content: '\e901'; }
// .glyph-pinterest:before { content: '\e902'; }
// .glyph-reddit:before { content: '\e903'; }
// .glyph-skype:before { content: '\e904'; }
// .glyph-slideshare:before { content: '\e905'; }
// .glyph-stackoverflow:before { content: '\e906'; }
// .glyph-stumbleupon:before { content: '\e907'; }
// .glyph-twitter:before { content: '\e908'; }
// .glyph-tumblr:before { content: '\e909'; }
// .glyph-vimeo:before { content: '\e90a'; }
// .glyph-vkontakte:before { content: '\e90b'; }
// .glyph-w3c:before { content: '\e90c'; }
// .glyph-wordpress:before { content: '\e90d'; }
// .glyph-right:before { content: '\e887'; }
