/**
 * CSS SPINNER (IE10+)
 */
/*
  1. in seconds
  2. '-' = clockwise, '+' = anti-clockwise. counterintuitive, but we use negative delay values
  3. NOTE: this must be an even number and the html requires half as many <i> or <span> elements ($spinner-steps / 2)
*/
@keyframes pulse {
  0% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}
.Spinner {
  position: relative;
  width: 24px;
  height: 24px;
}
.Spinner * {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  height: 24px;
  width: 24px;
}
.Spinner *::before, .Spinner *::after {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  content: '';
  position: absolute;
  left: 11px;
  height: 2px;
  width: 2px;
  border-radius: 1px;
  background-color: black;
}
.Spinner *::before {
  top: 0;
}
.Spinner *::after {
  bottom: 0;
}

.Spinner *:nth-child(1) {
  -ms-transform: rotate(-5.625deg);
  -webkit-transform: rotate(-5.625deg);
  transform: rotate(-5.625deg);
}
.Spinner *:nth-child(1)::before {
  -webkit-animation-delay: -0.01875s;
  animation-delay: -0.01875s;
}
.Spinner *:nth-child(1)::after {
  -webkit-animation-delay: -0.61875s;
  animation-delay: -0.61875s;
}

.Spinner *:nth-child(2) {
  -ms-transform: rotate(-11.25deg);
  -webkit-transform: rotate(-11.25deg);
  transform: rotate(-11.25deg);
}
.Spinner *:nth-child(2)::before {
  -webkit-animation-delay: -0.0375s;
  animation-delay: -0.0375s;
}
.Spinner *:nth-child(2)::after {
  -webkit-animation-delay: -0.6375s;
  animation-delay: -0.6375s;
}

.Spinner *:nth-child(3) {
  -ms-transform: rotate(-16.875deg);
  -webkit-transform: rotate(-16.875deg);
  transform: rotate(-16.875deg);
}
.Spinner *:nth-child(3)::before {
  -webkit-animation-delay: -0.05625s;
  animation-delay: -0.05625s;
}
.Spinner *:nth-child(3)::after {
  -webkit-animation-delay: -0.65625s;
  animation-delay: -0.65625s;
}

.Spinner *:nth-child(4) {
  -ms-transform: rotate(-22.5deg);
  -webkit-transform: rotate(-22.5deg);
  transform: rotate(-22.5deg);
}
.Spinner *:nth-child(4)::before {
  -webkit-animation-delay: -0.075s;
  animation-delay: -0.075s;
}
.Spinner *:nth-child(4)::after {
  -webkit-animation-delay: -0.675s;
  animation-delay: -0.675s;
}

.Spinner *:nth-child(5) {
  -ms-transform: rotate(-28.125deg);
  -webkit-transform: rotate(-28.125deg);
  transform: rotate(-28.125deg);
}
.Spinner *:nth-child(5)::before {
  -webkit-animation-delay: -0.09375s;
  animation-delay: -0.09375s;
}
.Spinner *:nth-child(5)::after {
  -webkit-animation-delay: -0.69375s;
  animation-delay: -0.69375s;
}

.Spinner *:nth-child(6) {
  -ms-transform: rotate(-33.75deg);
  -webkit-transform: rotate(-33.75deg);
  transform: rotate(-33.75deg);
}
.Spinner *:nth-child(6)::before {
  -webkit-animation-delay: -0.1125s;
  animation-delay: -0.1125s;
}
.Spinner *:nth-child(6)::after {
  -webkit-animation-delay: -0.7125s;
  animation-delay: -0.7125s;
}

.Spinner *:nth-child(7) {
  -ms-transform: rotate(-39.375deg);
  -webkit-transform: rotate(-39.375deg);
  transform: rotate(-39.375deg);
}
.Spinner *:nth-child(7)::before {
  -webkit-animation-delay: -0.13125s;
  animation-delay: -0.13125s;
}
.Spinner *:nth-child(7)::after {
  -webkit-animation-delay: -0.73125s;
  animation-delay: -0.73125s;
}

.Spinner *:nth-child(8) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.Spinner *:nth-child(8)::before {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
.Spinner *:nth-child(8)::after {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.Spinner *:nth-child(9) {
  -ms-transform: rotate(-50.625deg);
  -webkit-transform: rotate(-50.625deg);
  transform: rotate(-50.625deg);
}
.Spinner *:nth-child(9)::before {
  -webkit-animation-delay: -0.16875s;
  animation-delay: -0.16875s;
}
.Spinner *:nth-child(9)::after {
  -webkit-animation-delay: -0.76875s;
  animation-delay: -0.76875s;
}

.Spinner *:nth-child(10) {
  -ms-transform: rotate(-56.25deg);
  -webkit-transform: rotate(-56.25deg);
  transform: rotate(-56.25deg);
}
.Spinner *:nth-child(10)::before {
  -webkit-animation-delay: -0.1875s;
  animation-delay: -0.1875s;
}
.Spinner *:nth-child(10)::after {
  -webkit-animation-delay: -0.7875s;
  animation-delay: -0.7875s;
}

.Spinner *:nth-child(11) {
  -ms-transform: rotate(-61.875deg);
  -webkit-transform: rotate(-61.875deg);
  transform: rotate(-61.875deg);
}
.Spinner *:nth-child(11)::before {
  -webkit-animation-delay: -0.20625s;
  animation-delay: -0.20625s;
}
.Spinner *:nth-child(11)::after {
  -webkit-animation-delay: -0.80625s;
  animation-delay: -0.80625s;
}

.Spinner *:nth-child(12) {
  -ms-transform: rotate(-67.5deg);
  -webkit-transform: rotate(-67.5deg);
  transform: rotate(-67.5deg);
}
.Spinner *:nth-child(12)::before {
  -webkit-animation-delay: -0.225s;
  animation-delay: -0.225s;
}
.Spinner *:nth-child(12)::after {
  -webkit-animation-delay: -0.825s;
  animation-delay: -0.825s;
}

.Spinner *:nth-child(13) {
  -ms-transform: rotate(-73.125deg);
  -webkit-transform: rotate(-73.125deg);
  transform: rotate(-73.125deg);
}
.Spinner *:nth-child(13)::before {
  -webkit-animation-delay: -0.24375s;
  animation-delay: -0.24375s;
}
.Spinner *:nth-child(13)::after {
  -webkit-animation-delay: -0.84375s;
  animation-delay: -0.84375s;
}

.Spinner *:nth-child(14) {
  -ms-transform: rotate(-78.75deg);
  -webkit-transform: rotate(-78.75deg);
  transform: rotate(-78.75deg);
}
.Spinner *:nth-child(14)::before {
  -webkit-animation-delay: -0.2625s;
  animation-delay: -0.2625s;
}
.Spinner *:nth-child(14)::after {
  -webkit-animation-delay: -0.8625s;
  animation-delay: -0.8625s;
}

.Spinner *:nth-child(15) {
  -ms-transform: rotate(-84.375deg);
  -webkit-transform: rotate(-84.375deg);
  transform: rotate(-84.375deg);
}
.Spinner *:nth-child(15)::before {
  -webkit-animation-delay: -0.28125s;
  animation-delay: -0.28125s;
}
.Spinner *:nth-child(15)::after {
  -webkit-animation-delay: -0.88125s;
  animation-delay: -0.88125s;
}

.Spinner *:nth-child(16) {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.Spinner *:nth-child(16)::before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.Spinner *:nth-child(16)::after {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.Spinner *:nth-child(17) {
  -ms-transform: rotate(-95.625deg);
  -webkit-transform: rotate(-95.625deg);
  transform: rotate(-95.625deg);
}
.Spinner *:nth-child(17)::before {
  -webkit-animation-delay: -0.31875s;
  animation-delay: -0.31875s;
}
.Spinner *:nth-child(17)::after {
  -webkit-animation-delay: -0.91875s;
  animation-delay: -0.91875s;
}

.Spinner *:nth-child(18) {
  -ms-transform: rotate(-101.25deg);
  -webkit-transform: rotate(-101.25deg);
  transform: rotate(-101.25deg);
}
.Spinner *:nth-child(18)::before {
  -webkit-animation-delay: -0.3375s;
  animation-delay: -0.3375s;
}
.Spinner *:nth-child(18)::after {
  -webkit-animation-delay: -0.9375s;
  animation-delay: -0.9375s;
}

.Spinner *:nth-child(19) {
  -ms-transform: rotate(-106.875deg);
  -webkit-transform: rotate(-106.875deg);
  transform: rotate(-106.875deg);
}
.Spinner *:nth-child(19)::before {
  -webkit-animation-delay: -0.35625s;
  animation-delay: -0.35625s;
}
.Spinner *:nth-child(19)::after {
  -webkit-animation-delay: -0.95625s;
  animation-delay: -0.95625s;
}

.Spinner *:nth-child(20) {
  -ms-transform: rotate(-112.5deg);
  -webkit-transform: rotate(-112.5deg);
  transform: rotate(-112.5deg);
}
.Spinner *:nth-child(20)::before {
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s;
}
.Spinner *:nth-child(20)::after {
  -webkit-animation-delay: -0.975s;
  animation-delay: -0.975s;
}

.Spinner *:nth-child(21) {
  -ms-transform: rotate(-118.125deg);
  -webkit-transform: rotate(-118.125deg);
  transform: rotate(-118.125deg);
}
.Spinner *:nth-child(21)::before {
  -webkit-animation-delay: -0.39375s;
  animation-delay: -0.39375s;
}
.Spinner *:nth-child(21)::after {
  -webkit-animation-delay: -0.99375s;
  animation-delay: -0.99375s;
}

.Spinner *:nth-child(22) {
  -ms-transform: rotate(-123.75deg);
  -webkit-transform: rotate(-123.75deg);
  transform: rotate(-123.75deg);
}
.Spinner *:nth-child(22)::before {
  -webkit-animation-delay: -0.4125s;
  animation-delay: -0.4125s;
}
.Spinner *:nth-child(22)::after {
  -webkit-animation-delay: -1.0125s;
  animation-delay: -1.0125s;
}

.Spinner *:nth-child(23) {
  -ms-transform: rotate(-129.375deg);
  -webkit-transform: rotate(-129.375deg);
  transform: rotate(-129.375deg);
}
.Spinner *:nth-child(23)::before {
  -webkit-animation-delay: -0.43125s;
  animation-delay: -0.43125s;
}
.Spinner *:nth-child(23)::after {
  -webkit-animation-delay: -1.03125s;
  animation-delay: -1.03125s;
}

.Spinner *:nth-child(24) {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.Spinner *:nth-child(24)::before {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
.Spinner *:nth-child(24)::after {
  -webkit-animation-delay: -1.05s;
  animation-delay: -1.05s;
}

.Spinner *:nth-child(25) {
  -ms-transform: rotate(-140.625deg);
  -webkit-transform: rotate(-140.625deg);
  transform: rotate(-140.625deg);
}
.Spinner *:nth-child(25)::before {
  -webkit-animation-delay: -0.46875s;
  animation-delay: -0.46875s;
}
.Spinner *:nth-child(25)::after {
  -webkit-animation-delay: -1.06875s;
  animation-delay: -1.06875s;
}

.Spinner *:nth-child(26) {
  -ms-transform: rotate(-146.25deg);
  -webkit-transform: rotate(-146.25deg);
  transform: rotate(-146.25deg);
}
.Spinner *:nth-child(26)::before {
  -webkit-animation-delay: -0.4875s;
  animation-delay: -0.4875s;
}
.Spinner *:nth-child(26)::after {
  -webkit-animation-delay: -1.0875s;
  animation-delay: -1.0875s;
}

.Spinner *:nth-child(27) {
  -ms-transform: rotate(-151.875deg);
  -webkit-transform: rotate(-151.875deg);
  transform: rotate(-151.875deg);
}
.Spinner *:nth-child(27)::before {
  -webkit-animation-delay: -0.50625s;
  animation-delay: -0.50625s;
}
.Spinner *:nth-child(27)::after {
  -webkit-animation-delay: -1.10625s;
  animation-delay: -1.10625s;
}

.Spinner *:nth-child(28) {
  -ms-transform: rotate(-157.5deg);
  -webkit-transform: rotate(-157.5deg);
  transform: rotate(-157.5deg);
}
.Spinner *:nth-child(28)::before {
  -webkit-animation-delay: -0.525s;
  animation-delay: -0.525s;
}
.Spinner *:nth-child(28)::after {
  -webkit-animation-delay: -1.125s;
  animation-delay: -1.125s;
}

.Spinner *:nth-child(29) {
  -ms-transform: rotate(-163.125deg);
  -webkit-transform: rotate(-163.125deg);
  transform: rotate(-163.125deg);
}
.Spinner *:nth-child(29)::before {
  -webkit-animation-delay: -0.54375s;
  animation-delay: -0.54375s;
}
.Spinner *:nth-child(29)::after {
  -webkit-animation-delay: -1.14375s;
  animation-delay: -1.14375s;
}

.Spinner *:nth-child(30) {
  -ms-transform: rotate(-168.75deg);
  -webkit-transform: rotate(-168.75deg);
  transform: rotate(-168.75deg);
}
.Spinner *:nth-child(30)::before {
  -webkit-animation-delay: -0.5625s;
  animation-delay: -0.5625s;
}
.Spinner *:nth-child(30)::after {
  -webkit-animation-delay: -1.1625s;
  animation-delay: -1.1625s;
}

.Spinner *:nth-child(31) {
  -ms-transform: rotate(-174.375deg);
  -webkit-transform: rotate(-174.375deg);
  transform: rotate(-174.375deg);
}
.Spinner *:nth-child(31)::before {
  -webkit-animation-delay: -0.58125s;
  animation-delay: -0.58125s;
}
.Spinner *:nth-child(31)::after {
  -webkit-animation-delay: -1.18125s;
  animation-delay: -1.18125s;
}

.Spinner *:nth-child(32) {
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.Spinner *:nth-child(32)::before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.Spinner *:nth-child(32)::after {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
