// HELPERS
// --------------------------------------------------

// Since v22, Chrome makes fat sausage horrible web typography. Fix it with
// these properties right here. Maybe consider scoping this to a class for
// chrome/mac osx only at some point?

%fix-webkit-font-rendering {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// Sprites
// ----------------------------------------------------------------------------
.i {
  display: inline-block;
  overflow: hidden; //r IE6
}
// le;
// eg. <i class="i  s_icons_icon_social_twitter">Twitter</i>

// Lists
// ----------------------------------------------------------------------------
%list-reset {
  margin-top: 0;
  margin-left: 0;
  list-style: none;
  li {
    padding-bottom: 0;
    list-style-image: none;
    padding-left: 0;
    margin-left: 0;
  }
}

.u-listReset { @extend %list-reset; }

// Render fonts more sharply in Chrome (lose the fuzzy sausage type).
// Only apply to light text on dark backgrounds
%fix-webkit-font-rendering {
  -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility; // doesn't appear to do anything any more or be in any way supported
}

// Distribute elements evenly (equidistant)
// ----------------------------------------------------------------------------
// unlike grid__item's distribute grid items must have white-space between them,
// and a mobile width declaration. see template.php for examples

.distribute {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  // analog site specific (due to skinny side columns)
  margin-left: -$h/2;
  @include media-query(tablet) {
    margin-left: -$h;
    margin-left: 0;
  }
  // end analog specific
}

.distribute:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.distribute > * {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  font-size: medium;
  padding-left: $h/2;
  @include media-query(tablet) {
    padding-left: $h;
  }
}

// Hide helpers
// ----------------------------------------------------------------------------
.u-sm-displayNone { @include media-query(mobile) { display: none !important; } }
.u-md-displayNone { @include media-query(tablet) { display: none !important; } }
