// ------------------------------------
// RESET
// ------------------------------------

// ============
// Apply a natural box layout model to all elements, but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

html { box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
}

// The usual...
html, body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
  padding: 0;
}

// Remove underlines from potentially troublesome elements.
u, ins {
  text-decoration: none;
}

// Apply faux underline via `border-bottom`.
ins {
  border-bottom: 1px solid;
}

// So that `alt` text is visually offset if images don’t load.
img {
  font-style: italic;
}

// Give form elements some cursor interactions...
label,
input,
button,
select,
option {
  cursor: pointer;
}
