@charset "UTF-8";
/*!
 * Mastermind CSS | Copyright 2014 Richard Sime */
/*
 * On screen debug console
 */
.console {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  color: white;
  right: 12px; }

/*
 * Sass partials
 */
/*!
 * Icon fonts | http://fontello.com/ */
/**
 *
 * Downloaded from http://fontello.com/
 *
 *
 * HOW TO USE
 *
 * Step 1.
 * Get the name of the icon you require.
 * You can search for your icon name below,
 * or go to http://fontello.com/ and hover icon to get icon name
 * (their search feature can be helpful in locating icons)
 *
 * Step 2.
 * You can EITHER:
 * a) Enter the icon directly into your HTML, e.g:
 * <span class="glyph-info-circled"></span>
 *
 * OR:
 * b) "inject" it via CSS, e.g:
 * <span class="glyph"></span>
 * .glyph { @extend .glyph-info-circled; }
 *
 * OR:
 * c) another "injection" method
 * <a class='close'></a>
 * .close {
 *      @extend %glyph;
 *      @extend .glyph-info-circled;
 *  }
 *
 */
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot");
  src: url("fonts/fontello.eot?#iefix") format("embedded-opentype"), url("fonts/fontello.ttf") format("truetype"), url("fonts/fontello.woff") format("woff"), url("fonts/fontello.svg#glyph") format("svg");
  font-weight: normal;
  font-style: normal; }
*[class^="glyph"] {
  font-size: 18px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  vertical-align: middle; }

.glyph-search:before {
  content: '\e800'; }

/* '' */
.glyph-mfg-logo-circled:before {
  content: '\e898'; }

/* '' */
.glyph-heart:before {
  content: '\e802'; }

/* '' */
.glyph-heart-broken:before {
  content: '\e803'; }

/* '' */
.glyph-star:before {
  content: '\e804'; }

/* '' */
.glyph-star-empty:before {
  content: '\e805'; }

/* '' */
.glyph-star-half:before {
  content: '\e806'; }

/* '' */
.glyph-star-half_empty:before {
  content: '\e807'; }

/* '' */
.glyph-user:before {
  content: '\e808'; }

/* '' */
.glyph-user-male:before {
  content: '\e809'; }

/* '' */
.glyph-user-female:before {
  content: '\e80a'; }

/* '' */
.glyph-users:before {
  content: '\e80b'; }

/* '' */
.glyph-movie:before {
  content: '\e80c'; }

/* '' */
.glyph-videocam:before {
  content: '\e80d'; }

/* '' */
.glyph-isight:before {
  content: '\e80e'; }

/* '' */
.glyph-camera:before {
  content: '\e80f'; }

/* '' */
.glyph-menu:before {
  content: '\e810'; }

/* '' */
.glyph-th-thumb:before {
  content: '\e811'; }

/* '' */
.glyph-th-thumb-empty:before {
  content: '\e812'; }

/* '' */
.glyph-th-list:before {
  content: '\e813'; }

/* '' */
.glyph-ok:before {
  content: '\e814'; }

/* '' */
.glyph-ok-circled:before {
  content: '\e815'; }

/* '' */
.glyph-cancel:before {
  content: '\e816'; }

/* '' */
.glyph-cancel-circled:before {
  content: '\e817'; }

/* '' */
.glyph-plus:before {
  content: '\e818'; }

/* '' */
.glyph-help-circled:before {
  content: '\e819'; }

/* '' */
.glyph-help-circled-alt:before {
  content: '\e81a'; }

/* '' */
.glyph-info-circled-3:before {
  content: '\e81b'; }

/* '' */
.glyph-info-circled-alt:before {
  content: '\e81c'; }

/* '' */
.glyph-home:before {
  content: '\e81d'; }

/* '' */
.glyph-link:before {
  content: '\e81e'; }

/* '' */
.glyph-attach:before {
  content: '\e81f'; }

/* '' */
.glyph-lock:before {
  content: '\e820'; }

/* '' */
.glyph-lock-alt:before {
  content: '\e821'; }

/* '' */
.glyph-lock-open:before {
  content: '\e822'; }

/* '' */
.glyph-lock-open-alt:before {
  content: '\e823'; }

/* '' */
.glyph-eye:before {
  content: '\e824'; }

/* '' */
.glyph-download:before {
  content: '\e825'; }

/* '' */
.glyph-upload:before {
  content: '\e826'; }

/* '' */
.glyph-download-cloud:before {
  content: '\e827'; }

/* '' */
.glyph-upload-cloud:before {
  content: '\e828'; }

/* '' */
.glyph-reply:before {
  content: '\e829'; }

/* '' */
.glyph-pencil:before {
  content: '\e82a'; }

/* '' */
.glyph-export:before {
  content: '\e82b'; }

/* '' */
.glyph-print:before {
  content: '\e82c'; }

/* '' */
.glyph-retweet:before {
  content: '\e82d'; }

/* '' */
.glyph-comment:before {
  content: '\e82e'; }

/* '' */
.glyph-chat:before {
  content: '\e82f'; }

/* '' */
.glyph-bell:before {
  content: '\e830'; }

/* '' */
.glyph-attention:before {
  content: '\e831'; }

/* '' */
.glyph-attention-alt:before {
  content: '\e832'; }

/* '' */
.glyph-location:before {
  content: '\e833'; }

/* '' */
.glyph-trash:before {
  content: '\e834'; }

/* '' */
.glyph-doc:before {
  content: '\e835'; }

/* '' */
.glyph-newspaper:before {
  content: '\e836'; }

/* '' */
.glyph-folder:before {
  content: '\e837'; }

/* '' */
.glyph-folder-open:before {
  content: '\e838'; }

/* '' */
.glyph-folder-empty:before {
  content: '\e839'; }

/* '' */
.glyph-folder-open-empty:before {
  content: '\e83a'; }

/* '' */
.glyph-cog:before {
  content: '\e83b'; }

/* '' */
.glyph-calendar:before {
  content: '\e83c'; }

/* '' */
.glyph-login:before {
  content: '\e83d'; }

/* '' */
.glyph-logout:before {
  content: '\e83e'; }

/* '' */
.glyph-mic:before {
  content: '\e83f'; }

/* '' */
.glyph-mic-off:before {
  content: '\e840'; }

/* '' */
.glyph-clock:before {
  content: '\e841'; }

/* '' */
.glyph-stopwatch:before {
  content: '\e842'; }

/* '' */
.glyph-hourglass:before {
  content: '\e843'; }

/* '' */
.glyph-zoom-in:before {
  content: '\e844'; }

/* '' */
.glyph-zoom-out:before {
  content: '\e845'; }

/* '' */
.glyph-down-open:before {
  content: '\e846'; }

/* '' */
.glyph-left-open:before {
  content: '\e847'; }

/* '' */
.glyph-right-open:before {
  content: '\e848'; }

/* '' */
.glyph-up-open:before {
  content: '\e849'; }

/* '' */
.glyph-down:before {
  content: '\e84a'; }

/* '' */
.glyph-left:before {
  content: '\e84b'; }

/* '' */
.glyph-mail:before {
  content: '\e801'; }

/* '' */
.glyph-up:before {
  content: '\e84d'; }

/* '' */
.glyph-down-bold:before {
  content: '\e84e'; }

/* '' */
.glyph-left-bold:before {
  content: '\e84f'; }

/* '' */
.glyph-right-bold:before {
  content: '\e850'; }

/* '' */
.glyph-up-bold:before {
  content: '\e851'; }

/* '' */
.glyph-down-fat:before {
  content: '\e852'; }

/* '' */
.glyph-left-fat:before {
  content: '\e853'; }

/* '' */
.glyph-right-fat:before {
  content: '\e854'; }

/* '' */
.glyph-up-fat:before {
  content: '\e855'; }

/* '' */
.glyph-ccw:before {
  content: '\e856'; }

/* '' */
.glyph-shuffle:before {
  content: '\e857'; }

/* '' */
.glyph-play:before {
  content: '\e858'; }

/* '' */
.glyph-pause:before {
  content: '\e859'; }

/* '' */
.glyph-stop:before {
  content: '\e85a'; }

/* '' */
.glyph-to-end:before {
  content: '\e85b'; }

/* '' */
.glyph-to-start:before {
  content: '\e85c'; }

/* '' */
.glyph-fast-forward:before {
  content: '\e85d'; }

/* '' */
.glyph-fast-backward:before {
  content: '\e85e'; }

/* '' */
.glyph-trophy:before {
  content: '\e85f'; }

/* '' */
.glyph-monitor:before {
  content: '\e860'; }

/* '' */
.glyph-tablet:before {
  content: '\e861'; }

/* '' */
.glyph-mobile:before {
  content: '\e862'; }

/* '' */
.glyph-data-science:before {
  content: '\e863'; }

/* '' */
.glyph-data-science-inv:before {
  content: '\e864'; }

/* '' */
.glyph-inbox:before {
  content: '\e865'; }

/* '' */
.glyph-globe:before {
  content: '\e866'; }

/* '' */
.glyph-globe-inv:before {
  content: '\e867'; }

/* '' */
.glyph-flash:before {
  content: '\e868'; }

/* '' */
.glyph-cloud:before {
  content: '\e869'; }

/* '' */
.glyph-coverflow:before {
  content: '\e86a'; }

/* '' */
.glyph-coverflow-empty:before {
  content: '\e86b'; }

/* '' */
.glyph-math:before {
  content: '\e86c'; }

/* '' */
.glyph-math-circled:before {
  content: '\e86d'; }

/* '' */
.glyph-math-circled-empty:before {
  content: '\e86e'; }

/* '' */
.glyph-paper-plane:before {
  content: '\e86f'; }

/* '' */
.glyph-paper-plane-alt:before {
  content: '\e870'; }

/* '' */
.glyph-paper-plane-alt2:before {
  content: '\e871'; }

/* '' */
.glyph-fontsize:before {
  content: '\e872'; }

/* '' */
.glyph-color-adjust:before {
  content: '\e873'; }

/* '' */
.glyph-fire:before {
  content: '\e874'; }

/* '' */
.glyph-chart-bar:before {
  content: '\e875'; }

/* '' */
.glyph-hdd:before {
  content: '\e876'; }

/* '' */
.glyph-connected-object:before {
  content: '\e877'; }

/* '' */
.glyph-ruler:before {
  content: '\e878'; }

/* '' */
.glyph-vector:before {
  content: '\e879'; }

/* '' */
.glyph-vector-pencil:before {
  content: '\e87a'; }

/* '' */
.glyph-at:before {
  content: '\e87b'; }

/* '' */
.glyph-hash:before {
  content: '\e87c'; }

/* '' */
.glyph-female:before {
  content: '\e87d'; }

/* '' */
.glyph-male:before {
  content: '\e87e'; }

/* '' */
.glyph-spread:before {
  content: '\e87f'; }

/* '' */
.glyph-king:before {
  content: '\e880'; }

/* '' */
.glyph-anchor:before {
  content: '\e881'; }

/* '' */
.glyph-joystick:before {
  content: '\e882'; }

/* '' */
.glyph-spinner1:before {
  content: '\e883'; }

/* '' */
.glyph-spinner2:before {
  content: '\e884'; }

/* '' */
.glyph-github:before {
  content: '\e885'; }

/* '' */
.glyph-github-circled:before {
  content: '\e886'; }

/* '' */
.glyph-github-circled-alt:before {
  content: '\e887'; }

/* '' */
.glyph-github-circled-alt2:before {
  content: '\e888'; }

/* '' */
.glyph-twitter:before {
  content: '\e889'; }

/* '' */
.glyph-twitter-circled:before {
  content: '\e88a'; }

/* '' */
.glyph-facebook:before {
  content: '\e88b'; }

/* '' */
.glyph-facebook-circled:before {
  content: '\e88c'; }

/* '' */
.glyph-gplus:before {
  content: '\e88d'; }

/* '' */
.glyph-gplus-circled:before {
  content: '\e88e'; }

/* '' */
.glyph-linkedin:before {
  content: '\e88f'; }

/* '' */
.glyph-linkedin-circled:before {
  content: '\e890'; }

/* '' */
.glyph-dribbble:before {
  content: '\e891'; }

/* '' */
.glyph-dribbble-circled:before {
  content: '\e892'; }

/* '' */
.glyph-instagram:before {
  content: '\e893'; }

/* '' */
.glyph-instagram-circled:before {
  content: '\e894'; }

/* '' */
.glyph-soundcloud:before {
  content: '\e895'; }

/* '' */
.glyph-soundcloud-circled:before {
  content: '\e896'; }

/* '' */
.glyph-mfg-logo:before {
  content: '\e897'; }

/* '' */
.glyph-right:before {
  content: '\e84c'; }

/* '' */
/*
 * Variables
 */
/*
 * Shared shadows & highlights
 */
/* Shadows */
.secret.revealed span,
.guess span,
.touch-cursor span, .palette li {
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 2px rgba(0, 0, 0, 0.3); }

.palette li:nth-child(even) {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 2px rgba(0, 0, 0, 0.3); }

/* Specular highlights */
.secret.revealed span::before,
.guess span::before,
.touch-cursor span::before, .palette li span::before {
  position: absolute;
  width: 7px;
  height: 9px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 100%);
  content: '';
  display: block;
  top: 6px;
  left: 6px;
  border-radius: 100%; }

.secret.revealed span::after,
.guess span::after,
.touch-cursor span::after, .palette li span::after {
  position: absolute;
  width: 12px;
  height: 14px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 100%);
  content: '';
  display: block;
  top: 4px;
  left: 8px;
  border-radius: 100%; }

/*
 * Reset
 */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

/*
 * General
 */
html {
  background-color: #000; }

body {
  width: 320px;
  padding: 0 0 11px;
  margin: 0 auto;
  background: #272a2d url("bg-noise.png") repeat 0 0;
  font-family: AppleSDGothicNeo-Light, HelveticaNeue-Light, HelveticaNeue, helvetica;
  position: relative;
  border-radius: 10px; }

/*
 * Typography
 */
h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: normal; }
  h1.heading {
    position: relative;
    z-index: 9999;
    background: #191b1d;
    width: 300px;
    padding: 8px 10px 4px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 23px;
    background: black; }
    h1.heading a {
      color: white;
      cursor: pointer; }
    h1.heading span {
      float: right;
      color: #2b90d1;
      cursor: pointer; }

a {
  color: #2b90d1;
  text-decoration: none; }

h2 {
  margin: 12px 0 32px;
  font-weight: normal; }
  h2 a {
    font-size: 16px; }

/*
 * Messages
 */
.messages {
  position: relative;
  z-index: 99999999;
  margin: 0 auto;
  width: 320px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: -182px; }
  .messages.open {
    top: 0; }
  .messages > div {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 182px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    width: 320px;
    box-sizing: border-box;
    padding: 20px 20px 0; }
    .messages > div button {
      position: absolute;
      bottom: 4px; }
    .messages > div > * {
      margin-top: 0;
      margin-bottom: 16px;
      display: block; }
    .messages > div h1, .messages > div h2 {
      font-size: 16px;
      color: #272a2d; }
    .messages > div span {
      color: #a30202;
      font-weight: 700; }
  .messages > div.lost {
    background-color: #191b1d; }

/*
 * the game board
 */
.board {
  position: relative;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  padding: 0 20px; }

/*
 * Guess box - wrapper
 */
.guess-box {
  position: relative; }
  .guess-box.active {
    padding-top: 95px;
    /* space for the palette to be positioned */ }
    .guess-box.active .revealed {
      display: none; }

/*
 * Secret & Guess styling
 */
/*a*/
.revealSecret {
  position: absolute;
  z-index: 999;
  font-size: 13px;
  left: 20px;
  top: 28px;
  cursor: pointer; }

.secret {
  /* revealed at end of game */
  position: relative;
  z-index: 9;
  padding-top: 5px; }
  .secret span {
    background-color: #000; }
  .secret.revealed {
    z-index: 99999999; }

.secret.revealed::before {
  opacity: 0; }

.secret,
.guess,
.touch-cursor {
  margin-right: -12px; }
  .secret li,
  .guess li,
  .touch-cursor li {
    padding: 11px 12px 12px 11px;
    display: inline-block; }
  .secret span,
  .guess span,
  .touch-cursor span {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: block;
    position: relative; }

.secret.revealed span,
.guess span,
.touch-cursor span {
  /* specular highlight */ }

.guess {
  position: relative;
  z-index: 2;
  /* style empty holes */
  /*li*/ }
  .guess .empty span {
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.7), inset -1px -1px 1px rgba(255, 255, 255, 0.25), inset 12px 12px 10px rgba(0, 0, 0, 0.25);
    /* hide specular highlights */ }
    .guess .empty span::before, .guess .empty span::after {
      background: none; }

/*
 * Colour palette
 */
/*ul*/
.palette {
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.075);
  width: 300px;
  height: 80px;
  padding: 66px 0 0 20px;
  border-radius: 10px 10px 0 0;
  top: 0;
  left: 0;
  box-shadow: 0 -10px 0 black; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .palette {
      background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.075) 50%, transparent 50%);
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: bottom; } }
  .palette li {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    position: relative;
    /* specular highlights */ }
    .palette li::before {
      content: '';
      display: block;
      background-color: inherit;
      width: 11px;
      height: 18px;
      position: absolute;
      left: 12px;
      top: 34px;
      border-radius: 0 0 4px 4px;
      box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
      z-index: -9; }
    .palette li::after {
      content: '';
      display: block;
      width: 5px;
      height: 15px;
      position: absolute;
      left: 13px;
      top: 35px;
      border-radius: 3px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0) 100%);
      /* W3C */ }
    .palette li:nth-child(even) {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      left: 0;
      top: 35px;
      /* correct their specular highlights */ }
      .palette li:nth-child(even)::before {
        box-shadow: -5px -2px 3px rgba(0, 0, 0, 0.1); }
      .palette li:nth-child(even) span::before {
        top: auto;
        left: auto;
        bottom: 6px;
        right: 5px; }
      .palette li:nth-child(even) span::after {
        top: auto;
        left: auto;
        bottom: 4px;
        right: 6px; }
      .palette li:nth-child(even)::after {
        left: 17px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
    .palette li:last-child {
      margin-right: 0; }

/*
 * Eye-dropper
 */
/*img*/
.eye-dropper {
  position: absolute;
  left: 20px;
  top: 204px; }

/*
 * Submit guess button
 */
button {
  margin: 0;
  padding: 0.7em;
  background-color: #2b90d1;
  color: #2a2a2a;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  z-index: 9999;
  outline: none;
  width: 280px;
  color: white; }
  button:hover {
    color: black; }
  button.submit {
    display: none;
    position: absolute;
    top: 14px;
    left: 20px; }

/*
 * Results
 */
/*ul*/
.results {
  opacity: 0;
  /* reveal via JS */
  border-radius: 6px;
  width: 32px;
  height: 32px;
  display: block;
  padding: 4px;
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1); }
  .results.revealed {
    opacity: 1;
    /* add class in JS */ }
  .results li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 4px; }
    .results li.white {
      background-color: white; }
    .results li.red {
      background-color: red; }

/*
 * Dragging peg
 */
/*ul*/
.touch-cursor {
  position: absolute;
  display: none;
  top: -1000px; }
  .touch-cursor li {
    padding: 0; }
  .touch-cursor.dragging {
    display: block;
    z-index: 9999; }
